.nav-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: azure;
     
}
h1{
    font-size: 35px;
}
.to{
    color: darkorchid;
}
ul{
    display: flex;
   
}
li{
    list-style: none;
    margin-right: 30px;
}

a{
    text-decoration: none;
}
.btn{
    border: none;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
}
/*this is banner styles*/

.banner-content{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 600px;
    align-items: center;
    padding: 30px 0px 30px 150px;
}
.banner{
    display: flex;
    gap: 20px;
}
.pakara{
    font-size: 60px;
    color: darkorchid;
}
.btn-primary{
    border: none;
    border-radius: 15px;
    padding:10px 15px;
    background-color: rgb(11, 146, 139);
}
.btn-secondary{
    border: none;
    border-radius: 15px;
    padding:10px 18px;
    background-color: rgb(66, 102, 0);
}


/*this is card-img styles*/

.center{
    text-align: center;
    font-size: 35px;
    
}
.photo img{
    object-fit: cover;
}
.text{
    width: 240px;
    height: 184px;
    font-size: 20px;
    font-weight: bolder;
    top: 0;
    left: 0;
    background-color: black;
    border: 2px solid tomato;
    
    position: absolute;
    color: white;
    text-align: center;
    padding: 90px 0px 0px 0px;
    opacity: .6;
}
.pic{
    position: relative;
}
.para{
    text-align: center;
}
.big{
    font-size: 18px;
}
.card{
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}
.funny{
    color: darkorchid;
}
.img1{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    margin-left: 350px;
    margin-top: 250px;
}
.img2{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    
    
}
.overlap{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
   
    
}
.otteri{
    color: darkorchid;
}
.zcontent{
    align-items: center;
    padding-top: 100px;
}
.zindex{
    padding-right: 500px;
}
/*this is footer styles*/
footer{
    margin-top: 200px;
    min-height: 300px;
    background-color: rgb(184, 62, 62);
}

.last-logo{
    color: white;
    text-align: center;
   padding-top: 30px;
}
.habu{
    font-size: 60px;
    margin-left: 8px;
}
.potani{
    color: darkorchid;
    
}
.footer-ul{
    justify-content: center;
    color: white;
}
.footer-ul2{
    justify-content: center;
    font-size: 9px;
}
.last-para{
    text-align: center;
    font-size: 8px;
}
.button{
   margin: 250px 50px 50px 50px;
   text-align: center;
   padding: 20px;
}

.uniqe{
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.uniqe:hover{
    border: 1px solid red;
}
.hide{
    display: none;
}


@media screen and (max-width:576px) {
    .nav-container{
        display: grid;
        flex-direction: column;
        justify-items: center;
    }
    ul{
        display: grid;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .banner{
        display: grid;
        flex-direction: column-reverse;
    }
    .banner-content{
       width: 230px;
       padding: 20px 88px;
    }
    .banner-img img{
        width: 100% auto;
    }
    .card{
        display: grid;
    }
    .big{
        text-align: center;
    }
    .overlap{
        display: flex;
        flex-direction: column-reverse;
    }
    .zcontent{
        text-align: center;
    }
    .img1{
        margin-left: 250px;
        margin-top: 250px;
    }
    .button{
        margin: 500px 40px 50px 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



