.nav-container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: azure;
     
}
h1{
    font-size: 35px;
}
.to{
    color: darkorchid;
}
ul{
    display: flex;
   
}
li{
    list-style: none;
    margin-right: 30px;
}

a{
    text-decoration: none;
}
.btn{
    border: none;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
}
/*this is banner styles*/

.banner-content{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 600px;
    align-items: center;
    padding: 30px 0px 30px 150px;
}
.banner{
    display: flex;
    gap: 20px;
}
.pakara{
    font-size: 60px;
    color: darkorchid;
}
.btn-primary{
    border: none;
    border-radius: 15px;
    padding:10px 15px;
    background-color: rgb(11, 146, 139);
}
.btn-secondary{
    border: none;
    border-radius: 15px;
    padding:10px 18px;
    background-color: rgb(66, 102, 0);
}


/*this is card-img styles*/

.center{
    text-align: center;
    font-size: 35px;
    
}
.para{
    text-align: center;
}
.big{
    font-size: 18px;
}
.card{
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}
.funny{
    color: darkorchid;
}
.img1{
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    margin-left: 350px;
    margin-top: 250px;
}
.img2{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    
}
.overlap{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
   
    
}
.zcontent{
    align-items: center;
    padding-top: 100px;
}
.zindex{
    padding-right: 500px;
}
/*this is footer styles*/
footer{
    margin-top: 200px;
    min-height: 300px;
    background-color: rgb(184, 62, 62);
}

.last-logo{
    color: white;
    text-align: center;
   padding-top: 30px;
}
.habu{
    font-size: 60px;
    margin-left: 8px;
}
.potani{
    color: darkorchid;
    
}
.footer-ul{
    justify-content: center;
    color: white;
}
.footer-ul2{
    justify-content: center;
    font-size: 9px;
}
.last-para{
    text-align: center;
    font-size: 8px;
}

